
h1 {
	font-size: 46px;
  	font-family: Tekton Pro, serif;
	color: #000080;
	border-bottom-style: double;
}

h2 {
	font-size: 26px;
	font-family: Berlin Sans FB Demi, Times New Roman;
	font-weight: bold;
	
}

h3 {
	font-size: 20px;
	font-style: italic;
	text-align: left;
	
}
h4 {

	font-size: 26px;
	text-align: center;
	border-bottom-style: double;
	

	

}

.top{
	border-bottom-style: double;
}
.intro{
    font-size: 46px;
    text-align: left;
    font-weight: bold;
    border-bottom-style: double;
	
}
.pic{ text-align: center;
}

.contact{
	text-align: left;
}
.date{
	float: right;
}


