body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: url("Brown-Vintage-Background.jpg");
	background-size: cover;
}
h1 {
	font-size: 56px;
  font-family: Blackoak Std, serif;
	color: #000080;
}


